@font-face {
  font-family: cornerstoneregular;
  src: url(../fonts/cornerstone.woff2) format("woff2"), url(../fonts/cornerstone.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  unicode-range: u+0000-001f, u+0021-007f
}

@import "~vue-evolve/src/assets/scss/main";
@import "settings";
@import "breakpoints";
@import "transitions";

main {
  margin: 0;
  @media all and (min-width: $medium) {
    margin: 2rem;
    min-height: calc(100vh - 4rem);
  }
  @media all and (min-width: $large) {
    margin: 3rem;
    min-height: calc(100vh - 6rem);
  }
}

// overrides
.button {
  font-family: var(--font-family-tertiary);
  font-size: var(--font-size-7);
}

.content-blade a,
.card .cta {
  font-weight: 600;
  text-transform: uppercase;

  &::after {
    font-family: var(--font-family-fa);
    font-weight: 900;
    content: '\f30b';
    margin-left: .5rem;
  }
}

.card .subtitle {
  @extend h4;
  font-weight: 400;
  margin-bottom: .5rem;
}

.card img {
  width: 100%;
}

// extending the grid system

.l-grid--2up--small {
  @media all and (max-width: $medium) {
    grid-template-columns: repeat(2, 1fr);
  }
}
